set enable-keypad On
set keymap vi
set editing-mode vi
set show-mode-in-prompt On

set completion-ignore-case on
set completion-prefix-display-length 2
set show-all-if-ambiguous on
set show-all-if-unmodified on
Control-j: menu-complete
Control-k: menu-complete-backward
