! для применения настроек в текущей сессии используйте `xrdb -load ~/.Xresources`

URxvt.geometry: 100x34
!URxvt.termName: rxvt
URxvt*loginShell: true

URxvt.perl-lib: /home/fedotov_sv/.config/urxvt/perl
URxvt.perl-ext-common: default,url-select
!URxvt.tabbed.tabbar-fg: 0
!URxvt.tabbed.tabbar-bg: 7
!URxvt.tabbed.tab-fg:    15
!URxvt.tabbed.tab-bg:    12
!URxvt.tabbed.title-fg:  0
!URxvt.tabbed.title-bg:  7
URxvt.keysym.M-u:perl:url-select:select_next
!URxvt.searchable-scrollback: M-space

URxvt.pointerBlank: true
URxvt.pointerBlankDelay: 3
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.visualBell: false
URxvt.urgentOnBell: True

URxvt.depth: 32
!URxvt.background: rgba:04f0/0fff/0fff/cccc
!URxvt.cursorColor: lightcyan3
!URxvt.underlineColor: white
!Rxvt.shading: 70
!Rxvt.tintColor: cyan
URxvt.inheritPixmap: false
URxvt.internalBorder: 3
URxvt.lineSpace: 0

! font
URxvt.allow_bold: true
URxvt.font: xft:Droid Sans Mono Slashed:pixelsize=15
URxvt.boldFont: xft:Droid Sans Mono Slashed:bold

! Fix font space
URxvt*letterSpace: -1

! scroll settings
URxvt.scrollBar: false
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
URxvt.scrollColor: #1A1A1A
URxvt.scrollTtyKeypress: false
URxvt.scrollTtyOutput: false
URxvt.jumpScroll: false
URxvt.scrollWithBuffer: false
URxvt.saveLines: 0

! color the man
URxvt.colorMode: on
URxvt.boldColors: on
URxvt.dynamicColors: on
URxvt.underLine: on
URxvt.colorBDMode: on
URxvt.colorBD:  green
URxvt.colorULMode: on
URxvt.colorUL: #6495ED
URxvt.underlineURLs: true
URxvt.urlLauncher: /usr/bin/chromium-browser

! colors
URxvt.intensityStyles: true
