! для применения настроек в текущей сессии используйте `xrdb -load ~/.Xresources`

Xft.antialias: true
Xft.dpi: 110
Xft.rgba: none
Xft.hinting: true
Xft.hintstyle: hintslight

Xcursor.theme: Sweet-cursors
Xcursor.size: 16
