[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=imwheel
Comment=Switch desktop by mouse side buttons.
Exec=imwheel -k -b 000089
StartupNotify=false
Terminal=false
Hidden=false

Comment[ru_RU]=Switch desktop by mouse side buttons.
X-GNOME-Autostart-Delay=0
