/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #1E1F2999;
    background-alt: #282A3644;
    foreground:     #FFFFFFFF;
    selected:       #BD93F9FF;
    active:         #50FA7BFF;
    urgent:         #FF5555FF;
}
