# vim:set ft=sh:
# Rules: (class_name|*)[:instance_name|*]
# Note, xprop report is instance:class
bspc rule -a 'Simple Viewer GL' state=floating fullscreen=on
bspc rule -a *:lemonbar manage=off floating=on layer=below
bspc rule -a Chromium-browser-chromium desktop=I private=on follow=on
bspc rule -a Dunst sticky=on state=floating
bspc rule -a GoldenDict state=floating
bspc rule -a Lightscreen state=floating
bspc rule -a LiteTran desktop=W locked=on state=pseudo_tiled split_dir=west
bspc rule -a Mumble state=floating
bspc rule -a Pavucontrol state=floating
bspc rule -a Pinentry state=floating
bspc rule -a Skype state=floating
bspc rule -a Spicy state=floating
bspc rule -a Steam state=floating
bspc rule -a Surf desktop=II locked=on state=tiled
bspc rule -a Sxiv state=floating state=fullscreen
bspc rule -a TelegramDesktop desktop=W locked=on
bspc rule -a Transmission-gtk desktop=VI follow=on state=floating center=on
bspc rule -a Virt-manager -o state=pseudo_tiled desktop=R
bspc rule -a Virt-viewer state=floating
bspc rule -a Wine state=floating
bspc rule -a Xdialog state=floating
bspc rule -a com-sun-javaws-Main state=floating
bspc rule -a htop locked=on private=on desktop=W
bspc rule -a mpc desktop=III locked=on
bspc rule -a mpv state=floating
bspc rule -a openshot state=floating
bspc rule -a pulsemixer sticky=on state=floating
bspc rule -a scratchpad sticky=on state=floating
bspc rule -a system-config-printer.py state=floating
bspc rule -a tmux desktop=Q locked=on private=on
bspc rule -a xfreerdp state=floating follow=on desktop=E
