# vim:set ft=sh:
# Rules: (class_name|*)[:instance_name|*]
# Note, xprop report is instance:class
bspc rule -a 'Simple Viewer GL' state=fullscreen
bspc rule -a Dunst sticky=on state=floating
bspc rule -a Gimp desktop=VI
bspc rule -a Gpick state=floating
bspc rule -a Google-chrome desktop=III
bspc rule -a *:crx_eikjhbkpemdappjfcmdeeeamdpkgabmk desktop=R
bspc rule -a Mumble state=floating
bspc rule -a Pavucontrol state=floating
bspc rule -a Peek state=floating
bspc rule -a Pick-colour-picker state=floating
bspc rule -a Pinentry state=floating
bspc rule -a Qpaeq state=floating
#bspc rule -a qView state=fullscreen
bspc rule -a Nm-connection-editor state=floating
bspc rule -a Pamac-manager state=floating
bspc rule -a Rofi state=floating sticky=on manage=off
bspc rule -a SimpleScreenRecorder state=floating
bspc rule -a Skype state=floating
bspc rule -a Spicy state=floating
bspc rule -a Steam state=tiled desktop=IV
bspc rule -a Sxiv state=fullscreen
bspc rule -a TelegramDesktop desktop=W locked=on
bspc rule -a TechnogramDesktop desktop=E locked=on
bspc rule -a Timeshift-gtk state=floating
bspc rule -a Transmission-gtk desktop=VI follow=on state=floating center=on
bspc rule -a Virt-manager state=floating desktop=R
bspc rule -a Virt-viewer state=floating
bspc rule -a Remote-viewer state=floating
bspc rule -a realvnc-vncviewer state=floating
bspc rule -a Wine state=floating
bspc rule -a Xdialog state=floating
bspc rule -a cantata state=pseudo_tiled
bspc rule -a com-sun-javaws-Main state=floating
bspc rule -a flameshot state=floating
bspc rule -a *:htop locked=on desktop=W
bspc rule -a *:mpc desktop=II locked=on state=pseudo_tiled rectangle=800x910+0+0
bspc rule -a mpv state=floating
bspc rule -a mpv:pip desktop=III state=floating border=off marked=on focus=off sticky=on
bspc rule -a openshot state=floating
bspc rule -a pulsemixer sticky=on state=floating
bspc rule -a *:scratchpad sticky=on state=floating rectangle=1702x300+6+40
bspc rule -a system-config-printer.py state=floating
bspc rule -a *:local-L desktop=I locked=on
bspc rule -a *:local-R desktop=Q locked=on
bspc rule -a *:remote-L desktop=I locked=on
bspc rule -a *:remote-R desktop=Q locked=on
bspc rule -a transmission desktop=VI follow=on state=floating center=on
bspc rule -a xfreerdp follow=on desktop=IV state=pseudo_tiled
bspc rule -a zoom desktop=IV state=pseudo_tiled
